.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #505BB0;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #343B71;
}

.faixada {
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-top: 200px;
}

.brasao {
    width: 100px;
    height: 100px;
}