.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: background: linear-gradient(180deg, #000000 -0.73%, #0F576D 43.54%, 
    #B9C0C2 99.27%);
}

