.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #505BB0;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #343B71;
}

.faixada{    
    align-items: center;
    justify-content: space-around;

}

.faixada2 {
    margin-top: 100px;
    width: 414px;
    height: 414px;
}



